<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>ProfileTests</key>
		<dict>
			<key>testBalancedMultiplication()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.31603</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 21, 2017, 5:03:36 PM</string>
				</dict>
			</dict>
			<key>testDivision()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.60765</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 21, 2017, 5:03:36 PM</string>
				</dict>
			</dict>
			<key>testFibonacciAddition()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.0927</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 21, 2017, 5:03:36 PM</string>
				</dict>
			</dict>
			<key>testGCD()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.3631</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 21, 2017, 5:03:36 PM</string>
				</dict>
			</dict>
			<key>testMersennePrimes()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.4959</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 21, 2017, 5:03:36 PM</string>
				</dict>
			</dict>
			<key>testModularExponentiation()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.7139</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 21, 2017, 5:03:36 PM</string>
				</dict>
			</dict>
			<key>testMultiplicationByDigit()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.60397</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 21, 2017, 5:03:36 PM</string>
				</dict>
			</dict>
			<key>testSquareRoot()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.40256</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 21, 2017, 5:03:36 PM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
