<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>ProfileTests</key>
		<dict>
			<key>testBalancedFactorial()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.33337</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 23, 2017, 12:47:59 </string>
				</dict>
			</dict>
			<key>testDivision()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.59507</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 23, 2017, 12:47:59 </string>
				</dict>
			</dict>
			<key>testDivisionOfFactorial()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.6987</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 23, 2017, 12:47:59 </string>
				</dict>
			</dict>
			<key>testFactorial()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.66551</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 23, 2017, 12:47:59 </string>
				</dict>
			</dict>
			<key>testFibonacciAddition()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.0881</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 23, 2017, 12:47:59 </string>
				</dict>
			</dict>
			<key>testGCD()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.3696</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 23, 2017, 12:47:59 </string>
				</dict>
			</dict>
			<key>testMersennePrimes()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.71</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 23, 2017, 12:47:59 </string>
				</dict>
			</dict>
			<key>testModularExponentiation()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.8318</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 23, 2017, 12:47:59 </string>
				</dict>
			</dict>
			<key>testPrintingFactorial()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.95106</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 23, 2017, 12:47:59 </string>
				</dict>
			</dict>
			<key>testReadingFactorial()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.48879</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 23, 2017, 12:47:59 </string>
				</dict>
			</dict>
			<key>testSquareRoot()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.45393</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 23, 2017, 12:47:59 </string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
