// Increment the build number whenever you modify the version string.
VERSION_STRING = 3.1.0
BUILD_NUMBER = 11

PROJECT_NAME = BigInt
BUNDLE_IDENTIFIER_BASE = org.attaswift.$(PROJECT_NAME)

IPHONEOS_DEPLOYMENT_TARGET = 8.0
MACOSX_DEPLOYMENT_TARGET = 10.9
WATCHOS_DEPLOYMENT_TARGET = 2.0
TVOS_DEPLOYMENT_TARGET = 9.0

APPLICATION_EXTENSION_API_ONLY = YES
